config BSP_USING_NXP_USBH
    bool "Using usb host by NXP library"
    default n
    if BSP_USING_NXP_USBH
        config USB_BUS_NAME
            string "usb bus name"
            default "usb"
        config USB_DRIVER_NAME
            string "usb bus driver name"
            default "usb_drv"
        config USB_DEVICE_NAME
            string "usb bus device name"
            default "usb_dev"
        config MOUNT_USB_FS
            bool "mount usb file system"
            default y
            select MOUNT_USB

        if MOUNT_USB_FS
            config MOUNT_USB_FS_TYPE
                int "choose file system type : FATFS(0) LWEXT4(3)"
                default 0 
        endif
    endif

