menuconfig SUPPORT_KNOWING_FRAMEWORK
        bool "support knowing framework"
        default n
        select TRANSFORM_LAYER_ATTRIUBUTE

if SUPPORT_KNOWING_FRAMEWORK
        source "$APP_DIR/Framework/knowing/tensorflow-lite/Kconfig"
        source "$APP_DIR/Framework/knowing/filter/Kconfig"
        source "$APP_DIR/Framework/knowing/ota/Kconfig"
        source "$APP_DIR/Framework/knowing/image_processing/Kconfig"
        source "$APP_DIR/Framework/knowing/cmsis_5/Kconfig"
        source "$APP_DIR/Framework/knowing/kpu/Kconfig"
        source "$APP_DIR/Framework/knowing/nnom/Kconfig"
endif
