if BSP_USING_TOUCH
    config TOUCH_BUS_NAME
        string "touch bus name"
        default "touch"
    config TOUCH_DRV_NAME
        string "touch bus driver name"
        default "touch_drv"
    config TOUCH_DEVICE_NAME
        string "touch bus device name"
        default "touch_dev" 
  
endif
