menu "connection app"

    menuconfig APPLICATION_CONNECTION
        bool "Using connection apps"
        default n

	if APPLICATION_CONNECTION
		menuconfig SOCKET_DEMO
		bool "Config test socket demo"
		default n
	endif

endmenu
