config BSP_USING_UART1
    bool "Enable UART1"
    default y

config BSP_USING_UART2
    bool "Enable UART2"
    default n

config BSP_USING_UART3
    bool "Enable UART3"
    default n

config BSP_USING_UART4
    bool "Enable UART4"
    default n



    


