
config SENSOR_PS5308
        bool "Using PS5308"
        default n

        if SENSOR_PS5308
                config SENSOR_DEVICE_PS5308
                        string "PS5308 sensor name"
                        default "ps5308_1"
                
                config PS5308_PM1_0
                        bool "Using pm1.0 function"
                        default n
                    
                    if PS5308_PM1_0                        
                        config SENSOR_QUANTITY_PS5308_PM1_0
                                string "PS5308 quantity PM1.0 name"
                                default "pm1_0_1"
                    endif

                config PS5308_PM2_5
                        bool "Using pm2.5 function"
                        default n
                        
                    if PS5308_PM2_5                        
                        config SENSOR_QUANTITY_PS5308_PM2_5
                                string "PS5308 quantity PM2.5 name"
                                default "pm2_5_1"
                    endif

                config PS5308_PM10
                        bool "Using pm10 function"
                        default n
                        
                    if PS5308_PM10
                        config SENSOR_QUANTITY_PS5308_PM10
                                string "PS5308 quantity PM10 name"
                                default "pm10_1"
                    endif

                if ADD_XIZI_FEATURES
                        config SENSOR_PS5308_DRIVER_EXTUART
                                bool "Using extra uart to support PS5308"
                                default y

                        config SENSOR_DEVICE_PS5308_DEV
                                string "PS5308 device name"
                                default "/dev/uart2_dev2"
                                depends on !SENSOR_PS5308_DRIVER_EXTUART

                        if SENSOR_PS5308_DRIVER_EXTUART
                                config SENSOR_DEVICE_PS5308_DEV
                                        string "PS5308 device extra uart path"
                                        default "/dev/extuart_dev4"

                                config SENSOR_DEVICE_PS5308_DEV_EXT_PORT
                                        int "if PS5308 device using extuart, choose port"
                                        default "4"
                        endif
                endif

                if ADD_NUTTX_FEATURES
                       config SENSOR_DEVICE_PS5308_DEV
                               string "PS5308 device name"
                               default "/dev/ttyS1"
                               ---help---
                                   If USART1 is selected, then fill in /dev/ttyS1 here.

                endif

                if ADD_RTTHREAD_FEATURES

                endif
        endif
