menu "Kernel Lib"

menuconfig LIB
    bool "Enable libc APIs from toolchain"
    default y

    if LIB 
        config LIB_POSIX
            bool "Enable POSIX layer for poll/select, stdin etc"
            default y
    endif

    choice 
        prompt "select libc"
        default LIB_NEWLIB

        config LIB_NEWLIB
            bool "use newlib as libc realization."

        config LIB_MUSLLIB
            bool "use musllib as libc realization."
        
        config LIB_OTHER
                bool "use other lib"

    endchoice

source "$KERNEL_DIR/lib/libcpp/Kconfig"

endmenu
