config ADAPTER_BLUETOOTH_HC08
        string "HC08 adapter name"
        default "hc08"

if ADD_XIZI_FEATURES
        config ADAPTER_HC08_RECV_BUFFER_SIZE
                int "HC08 recv data buffer size"
                default "128"

        config ADAPTER_HC08_WORK_ROLE
                string "HC08 work role M(MASTER) or S(SLAVER)"
                default "M"
        
        config ADAPTER_HC08_DRIVER_EXTUART
                bool "Using extra uart to support bluetooth"
                default n

        config ADAPTER_HC08_DRIVER
                string "HC08 device uart driver path"
                default "/dev/uart4_dev4"
                depends on !ADAPTER_HC08_DRIVER_EXTUART

        if ADAPTER_HC08_DRIVER_EXTUART                    
                config ADAPTER_HC08_DRIVER
                        string "HC08 device extra uart driver path"
                        default "/dev/extuart_dev7"

                config ADAPTER_HC08_DRIVER_EXT_PORT
                        int "if HC08 device using extuart, choose port"
                        default "7"
        endif
endif

if ADD_NUTTX_FEATURES

        config ADAPTER_HC08_WORK_ROLE
                string "HC08 work role M(MASTER) or S(SLAVER)"
                default "M"
        
        config ADAPTER_HC08_DRIVER_EXTUART
                bool "Using extra uart to support bluetooth"
                default y

        config ADAPTER_HC08_DRIVER
                string "HC08 device uart driver path"
                default "/dev/ttyS2"
                depends on !ADAPTER_HC08_DRIVER_EXTUART

        if ADAPTER_HC08_DRIVER_EXTUART                    
                config ADAPTER_HC08_DRIVER
                        string "HC08 device extra uart driver path"
                        default "/dev/extuart_dev2"

                config ADAPTER_HC08_DRIVER_EXT_PORT
                        int "if HC08 device using extuart, choose port"
                        default "2"
        endif

endif

if ADD_RTTHREAD_FEATURES
         config ADAPTER_HC08_RECV_BUFFER_SIZE
                int "HC08 recv data buffer size"
                default "128"

        config ADAPTER_HC08_WORK_ROLE
                string "HC08 work role M(MASTER) or S(SLAVER)"
                default "M"
        
        config ADAPTER_HC08_DRIVER_EXTUART
                bool "Using extra uart to support bluetooth"
                default n

        config ADAPTER_HC08_DRIVER
                string "HC08 device uart driver path"
                default "/dev/dev2"
                depends on !ADAPTER_HC08_DRIVER_EXTUART

        if ADAPTER_HC08_DRIVER_EXTUART                    
                config ADAPTER_HC08_DRIVER
                        string "HC08 device extra uart driver path"
                        default "/dev/dev2"

                config ADAPTER_HC08_DRIVER_EXT_PORT
                        int "if HC08 device using extuart, choose port"
                        default "2"
        endif
endif
