config ADAPTER_ZIGBEE_E18
        string "E18 adapter name"
        default "e18"

choice
        prompt "E18 adapter select net role type "
        default AS_END_DEVICE_ROLE

        config AS_COORDINATOR_ROLE
                bool "config as a coordinator"

        config AS_ROUTER_ROLE
                bool "config as a router"

        config AS_END_DEVICE_ROLE
                bool "config as an end device"
endchoice


if ADD_XIZI_FEATURES
        config ADAPTER_E18_MODEPIN
                int "E18 MODE pin number"
                default "61"

        config ADAPTER_E18_PIN_DRIVER
                string "E18 device pin driver path"
                default "/dev/pin_dev"

        config ADAPTER_E18_DRIVER_EXTUART
                bool "Using extra uart to support zigbee"
                default n

        config ADAPTER_E18_DRIVER
                string "E18 device uart driver path"
                default "/dev/uart2_dev2"
                depends on !ADAPTER_E18_DRIVER_EXTUART

        if ADAPTER_E18_DRIVER_EXTUART
                config ADAPTER_E18_DRIVER
                        string "E18 device extra uart driver path"
                        default "/dev/extuart_dev0"

                config ADAPTER_E18_DRIVER_EXT_PORT
                        int "if E18 device using extuart, choose port"
                        default "0"
        endif
endif

if ADD_NUTTX_FEATURES
if ARCH_BOARD_XIDATONG_ARM32
        config ADAPTER_E18_MODEPIN
                int "E18 MODE pin number"
                default "61"

        config ADAPTER_E18_PIN_DRIVER
                string "E18 device pin driver path"
                default "/dev/gpio0"
endif
if ARCH_BOARD_XIDATONG_ARM32
        config ADAPTER_E18_MODE_PATH
                string "E18 MODE pin device"
                default "/dev/gpio2"
endif
        config ADAPTER_E18_DRIVER_EXTUART
                bool "Using extra uart to support zigbee"
                default y

        config ADAPTER_E18_DRIVER
                string "E18 device uart driver path"
                default "/dev/ttyS1"
                depends on !ADAPTER_E18_DRIVER_EXTUART
                ---help---
                    If USART1 is selected, then fill in /dev/ttyS1 here.

        if ADAPTER_E18_DRIVER_EXTUART
                config ADAPTER_E18_DRIVER
                string "E18 device extra uart driver path"
                default "/dev/extuart_dev1"

                config ADAPTER_E18_DRIVER_EXT_PORT
                        int "if E18 device using extuart, choose port"
                        default "1"
    endif

endif

if ADD_RTTHREAD_FEATURES

endif
