menuconfig USING_CMSIS_5_DEMOAPP
        bool "CMSIS-5 demo app"
        depends on USING_CMSIS_5_NN
        default n

    if USING_CMSIS_5_DEMOAPP

        config USING_CMSIS_5_NN_DEMOAPP
            bool "Using CMSIS-5 NN demo app"
            select USING_IMAGE_PROCESSING
            select IMAGE_PROCESSING_USING_TJPGD
            default n

        config USING_CMSIS_5_NN_DEMOAPP_VEG_CLASSIFY
            bool "Using CMSIS-5 NN demo app vegetable classify"
            select USING_IMAGE_PROCESSING
            select IMAGE_PROCESSING_USING_TJPGD
            default n
    endif


