mainmenu "XiZi_AIoT Project Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config KERNEL_DIR
    string
    option env="KERNEL_ROOT"
    default "../.."

config BOARD_IMX6Q_SABRELITE_EVB
    bool
    select  ARCH_ARM
    default y

source "$KERNEL_DIR/hardkernel/arch/Kconfig"

menu "imx6q sabrelite feature"
    source "$BSP_DIR/third_party_driver/Kconfig"

endmenu


source "$KERNEL_DIR/Kconfig"
