menu"Hardware Drivers Config"

    menuconfig SOC_STM32F407ZG
        bool
        select SOC_SERIES_STM32F4
        select RT_USING_COMPONENTS_INIT
        select RT_USING_USER_MAIN
        default y

    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y


    menuconfig BSP_USING_UART
        bool "Using UART device"
        default y
        select RT_USING_SERIAL
        if BSP_USING_UART
        source "$BSP_DIR/board/ports/uart/Kconfig"
        endif


    menuconfig BSP_USING_I2C1
        bool "Using I2C device"
        default n
        select  RT_USING_I2C
        select  RT_USING_I2C_BITOPS
        select  RT_USING_PIN
        if BSP_USING_I2C1
        source "$BSP_DIR/board/ports/I2c/Kconfig"
        endif

    menuconfig BSP_USING_SPI
        bool "Using SPI BUS"
        default n
        select RT_USING_SPI
        if BSP_USING_SPI
        source "$BSP_DIR/board/ports/spi/Kconfig"
        endif


    menuconfig BSP_USING_CH438
        bool "Using CH438 device"
        default y
        if BSP_USING_CH438
        source "$BSP_DIR/board/ports/ch438/Kconfig"
        endif

    menuconfig BSP_USING_USB
        bool "Using USB device"
        default n
        select BSP_USING_STM32_USBH
        select RESOURCES_USB
        select RESOURCES_USB_HOST
        select USBH_MSTORAGE
        select RESOURCES_USB_DEVICE
        if BSP_USING_USB
        source "$BSP_DIR/board/ports/usb/Kconfig"
        endif

    source "$RTT_DIR/bsp/stm32/libraries/HAL_Drivers/Kconfig"
endmenu
