config BSP_USING_SPI1
    bool "Enable SPI1 BUS"
    default n
    
config BSP_SPI1_TX_USING_DMA
    bool "Enable SPI1 TX DMA"
    depends on BSP_USING_SPI1
    default n

config BSP_SPI1_RX_USING_DMA
    bool "Enable SPI1 RX DMA"
    depends on BSP_USING_SPI1
    select BSP_SPI1_TX_USING_DMA
    default n

config BSP_USING_SPI2
    bool "Enable SPI2 BUS"
    default n

config BSP_SPI2_TX_USING_DMA
    bool "Enable SPI2 TX DMA"
    depends on BSP_USING_SPI2
    default n

config BSP_SPI2_RX_USING_DMA
    bool "Enable SPI2 RX DMA"
    depends on BSP_USING_SPI2
    select BSP_SPI2_TX_USING_DMA
    default n


config BSP_USING_SPI3
    bool "Enable SPI3 BUS"
    default n

config BSP_SPI3_TX_USING_DMA
    bool "Enable SPI3 TX DMA"
    depends on BSP_USING_SPI3
    default n

config BSP_SPI3_RX_USING_DMA
    bool "Enable SPI3 RX DMA"
    depends on BSP_USING_SPI3
    select BSP_SPI3_TX_USING_DMA
    default n

