menuconfig USING_K210_YOLOV2_DETECT
    bool "k210 yolov2 detect procedure"
	depends on USING_KPU_PROCESSING
    default n

config KPU_DEV_DRIVER
    string "Set kpu dev path"
    default "/dev/kpu_dev"

config CAMERA_DEV_DRIVER
    string "Set camera dev path for kpu"
    default "/dev/ov2640"

config KPU_LCD_DEV_DRIVER
    string "Set lcd dev path for kpu"
    default "/dev/lcd_dev"


