config ADAPTER_HFA21_WIFI
        help
            Please check HFA21 can only work for adapter_wifi or adapter_ethernet in the meantime!
        bool "Using wifi adapter device HFA21"
        default n

if ADAPTER_HFA21_WIFI
    source "$APP_DIR/Framework/connection/wifi/hfa21_wifi/Kconfig"
endif

config ADAPTER_ESP8285_WIFI
        bool "Using wifi adapter device esp8285"
        default n

if ADAPTER_ESP8285_WIFI
    source "$APP_DIR/Framework/connection/wifi/esp8285_wifi/Kconfig"
endif 

config ADAPTER_ESP07S_WIFI
        bool "Using wifi adapter device esp07s"
        default n

if ADAPTER_ESP07S_WIFI
    source "$APP_DIR/Framework/connection/wifi/esp07s_wifi/Kconfig"
endif 
