
config SENSOR_QS_FX
        bool "Using qs-fx wind direction sensor"
        default n

        if SENSOR_QS_FX
                config SENSOR_DEVICE_QS_FX
                        string "qs-fx sensor name"
                        default "qs_fx"
                
                config SENSOR_QUANTITY_QS_FX_WINDDIRECTION
                        string "qs-fx quantity name"
                        default "winddirection_1"
                
                if ADD_XIZI_FEATURES
                        config SENSOR_QS_FX_DRIVER_EXTUART
                                bool "Using extra uart to support qs-fx"
                                default y

                        config SENSOR_DEVICE_QS_FX_DEV
                                string "qs-fx device name"
                                default "/dev/uart2_dev2"
                                depends on !SENSOR_QS_FX_DRIVER_EXTUART

                        config SENSOR_DEVICE_QS_FX_PIN_DEV
                                string "qs-fx pin device name"
                                default "/dev/pin_dev"

                        config SENSOR_DEVICE_QS_FX_PIN_NUMBER
                                int "qs-fx pin device number"
                                default 24

                        if SENSOR_QS_FX_DRIVER_EXTUART
                                config SENSOR_DEVICE_QS_FX_DEV
                                        string "qs-fx device extra uart path"
                                        default "/dev/extuart_dev2"
                                
                                config SENSOR_DEVICE_QS_FX_DEV_EXT_PORT
                                        int "if qs-fx device using extuart, choose port"
                                        default "2"
                        endif
                endif

                if ADD_NUTTX_FEATURES
                        config SENSOR_DEVICE_QS_FX_DEV
                                string "qs-fx device name"
                                default "/dev/ttyS1"
                               ---help---
                                   If USART1 is selected, then fill in /dev/ttyS1 here.

                endif

                if ADD_RTTHREAD_FEATURES

                endif
        endif
