menuconfig BSP_USING_LPUART
    bool "Using UART device"
    default y
    select RESOURCES_SERIAL
    if BSP_USING_LPUART
        source "$BSP_DIR/third_party_driver/uart/Kconfig"
    endif

menuconfig BSP_USING_LWIP
    bool "Using LwIP device"
    default n
    select RESOURCES_LWIP

menuconfig BSP_USING_GPIO
    bool "Using GPIO device "
    default y
    select RESOURCES_PIN

    if BSP_USING_GPIO
        source "$BSP_DIR/third_party_driver/gpio/Kconfig"
    endif

menuconfig BSP_USING_I2C
    bool "Using I2C device"
    default n
    select RESOURCES_I2C

    if BSP_USING_I2C
        source "$BSP_DIR/third_party_driver/i2c/Kconfig"
    endif

menuconfig BSP_USING_ADC
    bool "Using ADC device"
    default n
    select RESOURCES_ADC

    if BSP_USING_ADC
        source "$BSP_DIR/third_party_driver/adc/Kconfig"
    endif

menuconfig BSP_USING_SPI
    bool "Using SPI device"
    default n
    select RESOURCES_SPI

    if BSP_USING_SPI
        source "$BSP_DIR/third_party_driver/spi/Kconfig"
    endif

menuconfig BSP_USING_RTC
    bool "Using RTC device"
    default n
    select RESOURCES_RTC
    if BSP_USING_RTC
    source "$BSP_DIR/third_party_driver/rtc/Kconfig"
    endif

menuconfig BSP_USING_SEMC
    bool "Using SEMC device"
    default n
    if BSP_USING_SEMC
        source "$BSP_DIR/third_party_driver/semc/Kconfig"
    endif

menuconfig BSP_USING_SDIO
    bool "Using SD card device"
    default n
    select RESOURCES_SDIO
    if BSP_USING_SDIO
        source "$BSP_DIR/third_party_driver/sdio/Kconfig"
    endif

menuconfig BSP_USING_USB
    bool "Using USB device"
    default n
    select RESOURCES_USB
    if BSP_USING_USB
        source "$BSP_DIR/third_party_driver/usb/Kconfig"
    endif
